body{
font-family:Arial;
background:#f2f4f7;
text-align:center;
}

button{
padding:10px 20px;
margin:10px;
font-size:16px;
border:none;
background:#2563eb;
color:white;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#1e40af;
}

.alert{
color:red;
font-weight:bold;
}

canvas{
width:80%;
max-width:900px;
margin:auto;
}

.status{
margin:20px;
}